button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
  }

.activities-button {
    display: block;
    margin: auto;
    width: 300px;
    height: fit-content;
    padding: 5px;
    left: 34px;
    top: 318px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    margin: 6px auto;
}

.activities-button:focus {
    border: 1px solid #F1B82B;
    outline: none;
}

.button-span {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
}