*{
    margin: 0;
}

.sex-category-container {
    display: block;
    margin: 100px auto;
}

.btn-female{
    border-radius: 100%;
    display: block !important;
    margin: 20px auto;
    width:150px;
    height: 150px;
    cursor: pointer;
}
.btn-male{
    border-radius: 100%;
    display: block !important;
    margin: 20px auto;
    width:150px;
    height: 150px;
    cursor: pointer;

}

.btn-female:focus, .btn-male:focus {
    outline: none;
}
/* .title-sexCategory{
    margin-top: 30%;
} */
.imWoman{
    margin-top: 2%;
}
.imMan{
    margin-top: 2%;
}
.fa-venus{
    font-size:100px;
    color: yellow;
}
.fa-mars{
    font-size:100px;
    color: yellow;
}